body {
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

li[ui-sref]:hover {
  cursor: pointer;
  color: blue;
  text-decoration:underline dotted;
  text-shadow: 1px 1px 2px gray; 
}
